{% extends 'base.html' %}

{% block content %}

<h1> Home </h1>
<p>
    Morbi a varius lorem. Mauris varius lacus odio, in pulvinar lorem feugiat sit amet. Praesent porta velit eu rhoncus iaculis. Fusce sit amet dolor ut purus malesuada placerat eu at ipsum. Nulla tincidunt est vel consequat suscipit. Mauris ac condimentum eros, in ultricies quam. Ut risus ligula, accumsan eget consectetur non, varius ut risus. Ut vitae nibh a enim sollicitudin rhoncus. Ut quis semper dolor. Donec accumsan quam in ante congue porttitor. Nullam pulvinar lorem non turpis finibus, vitae rhoncus arcu maximus. Phasellus urna quam, lobortis quis feugiat id, malesuada non purus. Aliquam sed dui rutrum, rhoncus velit in, vestibulum lacus. 
</p>

{% endblock %}