{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body my-3">
        <h3 class="display-6 text-center"> Organiza tu trabajo y tu vida, por fin.</h3>
        <p>
            Añade tareas como “Leer emails del trabajo todos los días a las 10am” para hacer tu lista de pendientes en segundos utilizando el reconocimiento de lenguaje coloquial y las fechas periódicas de Todoist.
        </p>
    </section>
    <section class="card card-body my-3">
        <h3 class="display-6 text-center"> Consigue la claridad mental que has estado anhelando.</h3>
        <p>
            Tus listas de tareas pendientes se ordenan en las vistas Hoy, Próximo y Filtros personalizados para ayudarte a concentrarte en las cosas más importantes.
        </p>
    </section>
    <section class="py-1">
        <div class="text-center">
            <a class="btn btn-secondary my-2" href="/signin/">
                Ingresar!
            </a>
            <a class="btn btn-secondary mx-2" href="/signup/">
                Registrar!
            </a>
        </div>
    </section>
</main>

{% endblock %}